@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#heading {
    color: black;
    font-weight: bold;
    margin: auto;
    text-align: center;
}

.buttonStyle {
    padding: 7px;
    margin: 10px 10px 25px 40px;
    background-color: rgb(235, 234, 255);
    border-radius: 5px;
}

header nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(0, 0, 130);
}

header nav li {
    float: left;
}

header nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header nav li a:hover {
    background-color: rgb(30, 28, 50);
}


footer nav ul {
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    background-color: rgb(0, 0, 130);
    width: 100%;
}

footer nav li {
    float: left;
}

footer nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer nav li a:hover {
    background-color: rgb(30, 28, 50);
}

tr {

}

table {
    margin: auto;
    border-spacing: 20px;
    border-collapse: collapse;
    width: 65%;
    text-align: center;
}

th, td {
    border: 2px solid black;
    padding: 10px;
}

