@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(156, 206, 255);
    font-family: "Montserrat", sans-serif;
}

img {
    flex-direction: column;
}

#heading {
    color: white;
    font-weight: bold;
    margin: 30px 40px 30px 40px;
}

.buttonStyle {
    padding: 7px;
    margin: 10px 10px 25px 40px;
    background-color: rgb(235, 234, 255);
    border-radius: 5px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

header nav li {
    float: left;
}

header nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header nav li a:hover {
    background-color: rgb(30, 28, 50);
}
